<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
	<li>
		<input ng-model="query" type="text" name="q" placeholder="type here..."></input>
		<button ng-click="search(query)" class="btn btn-default">search!</button>
	</li>
  </ul>
  <h3 class="text-muted">qiyi</h3>
</div>

<div class="jumbotron">
  <h4>{{ message }} {{ query }}</h4>
  <ul>
	<li ng-repeat="item in foundItems">{{ item.simple }} {{ item.pinyin }}</br>{{ item.trans }}</li>
  </ul>
</div>

<div class="row marketing">
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
