<div class="container">
	<div class="row marketing">
	  <h4>{{ resp.data.length }} items found for {{ resp.query }}</h4>
	</div>
	<div ng-repeat-start="item in resp.data" class="row">
	  <div class="col-lg-2 chin simple">{{ item.simple }}</div>
	  <div class="col-lg-2 chin trad">{{ item.trad }}</div>
	  <div class="col-lg-8 pinyin">{{ item.pinyin }}</div>
	</div>
	<div ng-repeat-end class="row">
		<div ng-repeat="(lang, translations) in item.trans" col="col-lg-4">
			<span>{{ translations.length }} x</span>
			<img src="/images/{{ lang }}.ico" alt="lang icon"></img>
			<div ng-repeat="trans in translations" class="col-lg-11">{{ $index + 1 }}. {{ trans }}</div>
		</div>
	</div>
</div>
